{% extends "base.html" %}
{% block content %}
  <title>SetWise</title>
  <h1>SetWise</h1>

<nav>
    <ul>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('dashboard') }}">Home</a></li>
    </ul>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class="error">{{ messages[0] }}</p>
  {% endif %}
{% endwith %}

<h2>Choose a muscle group</h2>
<form action="/workouts/{{ workout.id }}" method="get">
    <select name="muscle_group">
        <option value="">-- Select --</option>
        {% for group in muscle_groups %}
            <option value="{{ group }}" {% if group == selected_group %}selected{% endif %}>{{ group }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

{% if selected_group %}
    <h2>Add a set — {{ selected_group }}</h2>
    <form action="/workouts/{{ workout.id }}/sets" method="post">
        <select name="exercise_id">
            {% for exercise in exercises_for_dropdown %}
              <option value="{{ exercise.id }}">{{ exercise.name }}</option>
            {% endfor %}
        </select>


        <label>Reps:</label>
        <input type="number" name="reps" required placeholder="Number of reps">
        
        <label>Weight:</label>
        <input type="number" name="weight" step="0.5" placeholder="Weight in kg">
        
        <button type="submit">Save</button>
    </form>
{% endif %}

<h2>Your logged exercises for this workout</h2>
{% for exercise in all_exercises %}
    {% if exercise.id in sets_by_exercise %}
    <h3>{{ exercise.name }}</h3>
      <ul>
        {% for set in sets_by_exercise[exercise.id] %}
          <li>Set {{ set.set_number }}: {{ set.reps }} reps at {{ set.weight }}kg</li>
        {% endfor %}
      </ul>
    {% endif %}
{% endfor %}

{% endblock %}
